  <p>
    
  <strong><%= comment.commenter %></strong>:
    <%= comment.body %>
  </p>

  <!-- Like/Unlike Button -->
  <p>
    <button class="like-btn" data-comment-id="<%= comment.id %>">Like</button>
  </p>

  <p>
    <%= link_to "Delete Comment", [comment.article, comment], data: {
      turbo_method: :delete,
      turbo_confirm: "Are you sure?"
    } %>
  </p>
